body {
  background: url(snake.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.board {
  display: block;
  top: 50%;
  left: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ddd;
  overflow: hidden;
  outline: none;
  border: 2px solid black;
}

.cell,
.body-cell,
.food-cell {
  width: 30px;
  height: 30px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
}

.body-cell {
  background-color: darkgreen;
}

.food-cell {
  background-color: black;
}
